<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin - File Manager</title>
  <link rel="stylesheet" href="/css/index.css">
	<link rel="icon" href="/favicon-32x32.png" sizes="32x32" type="image/png">
</head>
<body>

    <div class="container">
			<div class="navbar">
				<span class=devil>😈</span>
				<span>/admin</span>
				<span>
					<a href="/dashboard">/dashboard</a>
					<a href="/profile">/profile</a>
					<a href="/logout">/logout</a>
				</span>
			</div>
        <h2>Files</h2>
        <div class="file-list">
            <% if (files.length === 0) { %>
                <p>No files available for download.</p>
            <% } else { %>
                <ul>
                    <% files.forEach(file => { %>
                        <li>
                            <span><%= file %></span>
                            <a href="/download/<%= file %>" class="btn">⬇</a>
                        </li>
                    <% }) %>
                </ul>
            <% } %>
        </div>
    </div>
</body>
</html>
