<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Welcome</title>
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>
	<div class="container">
		<div class="navbar">
			<span class=devil>😈</span>
		</div>
			<div>
				<h1>Welcome...</h1>
				<p>Log in to access your dashboard.</p>
				<a href="/login" class="btn">Login</a>
			</div>
			<div class="img-container">
			<!--- >:D --->
				<img src="/img/devil.jpeg" alt="devil" width="300" height="300">
			</div>
	</div>
	<br>
</body>
</html>
