/* Global Styles */
body {
	font-family: monospace;
	margin: 0;
	padding: 20px;
	background-color: #f4f4f4;
}

/* Container */
.container {
	max-width: 800px;
	margin: auto;
	background: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container .half {
	display: flex;
}

/* Images */
img {
	display: block;
	margin: auto;
}
/* Navigation Bar */
.navbar {
	display: flex;
	justify-content: space-between;
	background: #553986; 
	padding: 10px;
	color: white;
	border-radius: 5px;
}

/* Logo */
.devil {
	font-size: 1.25em;
	margin: 0.1em;
}

.navbar a {
	color: white;
	text-decoration: none;
	margin: 0 10px;
}

.navbar a:hover {
	text-decoration: underline;
}

/* Forum Threads */
.thread {
	background: #fff;
	padding: 10px;
	margin: 10px 0;
	border-radius: 5px;
	border-left: 5px solid #553986;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.thread h3 {
	margin: 0;
}

.thread p {
	color: #666;
	margin: 5px 0 0;
}

/* Links */
a {
	color: #007bff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Admin Panel Styling */
.admin-panel {
	background: #fff;
	padding: 12px;
	border-left: 5px solid red;
	box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
	margin-top: 20px;
}
.admin-panel h2 {
	color: red;
}

.file-list {
    max-height: 300px; /* Limit height */
    overflow-y: auto; /* Enable scrolling */
    border: 1px solid #ccc;
    padding: 10px;
    background: #f9f9f9;
}

.file-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.file-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.file-list li:last-child {
    border-bottom: none;
}

.file-list a.btn {
    padding: 5px 10px;
    background: #553986;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
}

.file-list a.btn:hover {
    background: #553986;
}
